.store-content {
    background-color: $brand-primary;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 30px;

    // @media (max-width: 480px) {
    //     height: 500px;
    // }

    .hero-wrapper {
        width: 1100px;
        box-shadow: 10px 10px 20px 0 rgba(0,0,0,.7);

        .heroBg {
            height: 420px;
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 480px) {
                height: 180px;
                background-size: 100%;
            }
        }
    }

    .inner {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;

        .content {
            padding: 30px 20px;
        }
    }
}