/*=== Body Color ===*/
$body-color: #2d2a2a;
/*=== Theme Primary Color ===*/
$brand-primary: #4DDF60;
/*=== Theme Secondary Color ===*/
$brand-secondary: #2A2B2D;
/*=== Theme Primary Tertiary Color ===*/
$brand-tertiary: #121212;

$brand-warning: red;